<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body>

<div id='wrapper'>
    <h4 style='text-align: left;padding:10px 0 0 25px'><b>Edit Profile</b></h4><br>
	<div class="row">
		<div class="col">
			<p style="float: right">Password</p>
		</div>
		<div class="col">
			<input type='password' id="password" #password>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p style="float: right">Email</p>
		</div>
		<div class="col">
			<input id="email" #email>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p style="float: right">Type</p>
		</div>
		<div class="col">
			<div><input [disabled]='true' id="type" #type></div>
			<div style='margin:3px 0 3px 0' ngbDropdown class="d-inline-block">
				<button id='dDown' class="btn-outline" ngbDropdownToggle>Choose a type</button>
				<div id='dropDownItemBack' ngbDropdownMenu>
					<a style='width:200px' (click)="setType(typeval.value)" *ngFor="let type of types" id="{{type}}" ngbDropdownItem>{{type}}<input #typeval value="{{type}}" style='display:none'></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p style="float: right">Level</p>
		</div>
		<div class="col">
			<div><input [disabled]='true' id="level" #level></div>
			<div style='margin:3px 0 3px 0' ngbDropdown class="d-inline-block">
				<button id='dDown' class="btn-outline" ngbDropdownToggle>Choose a level</button>
				<div id='dropDownItemBack' ngbDropdownMenu>
					<a style='width:200px' (click)="setLevel(levelval.value)" *ngFor="let level of levels" id="{{level}}" ngbDropdownItem>{{level}}<input #levelval value="{{level}}" style='display:none'></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p style="float: right">Bio</p>
		</div>
		<div class="col">
			<textarea id="bio" #bio></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p style="float: right">Age</p>
		</div>
		<div class="col">
			<input id="age" type="number" min="0"
				oninput="validity.valid||(value='');" #age>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p style="float: right">ImageURL</p>
		</div>
		<div class="col">
			<input id="image" #image>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p style="float: right">Interests</p>
		</div>
		<div class="col">
			<div style='margin:0 auto 2px auto;width:250px;text-align: left;'><button id='existingInterest' *ngFor="let item of interests" [disabled]='true'>{{item}}</button></div>
			<input placeholder="add an interest" id='interests' #interest>
		</div>
	</div>
	<div>
		<button mdbBtn color="info" (click)="saveChanges(password.value, email.value, bio.value, age.value, image.value, interest.value)" id='saveB'>
			save changes
		</button>
	</div>
</div>
</body>
</html>