#header{
    background: white;
    width:100%;
    text-align: left;
    padding:12px 13% 12px 12.3%;
    border-bottom: 1px solid #c9cccd;
}

body{
    background: #EAEDED;
    padding:1em 12% 3em 13.5%;
    margin:0 
}

.scrollmenu {
    background-color: white;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width:100%;
    margin:-8px 0 0 -15px;
    border-radius: 3px;
    box-shadow: 0.5px 1px 2px #c9cccd;
}

.scrollmenu a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: #EAEDED;
}
  

#pop-filter,#recent-filter{
    margin:10px 0 0 0;
    color:#626567
}

#fandom-filter{
    margin:10px 0 0 10px;
    color:#626567;
    background: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1.1px;
    padding:5px 10px 5px 10px;
}

#apply{
    border-radius: 4px;
    color:white;
    border:none;
    background:#5DADE2;
    padding:0 5px 5px 5px;
    float:right;
}

#apply:hover{
    background: #2E86C1;
}
#create-fandom {
    color:white;
    border-radius:3px;
    background:#F5B041;
    border-color:#F5B041;
    border-style:solid;
    margin:0 20px 0 0px;  
    height:32px;
}

#create-post {
    color:white;
    border-radius:3px;
    background:#48C9B0;
    border-color:#48C9B0;
    border-style:solid;
    margin:0 20px 0 0;
    height:32px;
}

#search-button {
    margin:0 0 0 -3px;
    height:32px;
    color:white;
    border-radius:4px;
    background:#F5B041;
    border-color:#F5B041;
    border-style:solid;
}

#create-post:hover, #create-fandom:hover, #search-button:hover{
    color:grey
}

#search-bar{
    border-width: 1.1px;
    border-color:#EAEDED;
    border-radius:4px;
    border-style:solid;
    padding-left:10px;
    height:32px;
    background: #EAEDED;
}

.post-box{
    width:95%;
    background:white;
    padding:15px 0px 15px 15px;
    margin:0 0 18px 0;
    box-shadow: 0.5px 1px 2px #c9cccd;
    border-radius: 3px;
}
#column1{
    width:10%;text-align: center;
}
#userImg{
    width:60px;height:60px;border-radius: 50%;
}
#userImg:hover{
    border:1px solid #3498DB
}
#column2{
    width:80%; margin-left:20px;padding:0 10px 0 10px
}
#column2-header{
    font-size:13px;margin-top:-10px;color:#A6ACAF;text-align: left;
}
#sort-box{
    box-shadow: 0.5px 1px 2px #c9cccd;
    border-radius: 3px;
    float:right;
    padding:10px 20px 20px 20px;
    width:30%;
    height:100%;
    background: white;
}
#comments{
    margin-top:5px;
    font-size:14px;
    border-radius:2px;
    border:none;
    background: #EAEDED;
}
#comments:hover{
    color:#3498DB
}
#seperator{
    margin:-5px 0 -5px 0;width:1px;background: #E5E7E9;
}
#arrow-up{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #D7DBDD;
}
#arrow-up:hover {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #909497;
}
#arrow-down{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #D7DBDD;
    margin-top:-65%;
}
#arrow-down:hover {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #909497;
    margin-top:-65%;
}
#fullList{
    float:right;
    background:#F5B041;
    color:white;
    border:none;
    font-size:14px;
    margin-top:5px;
    border-radius:3px;
}
#fullList:hover{
    color:grey
}
#edit {
    font-size:13px;
    margin:0 0 0 10px
}
#post2Fd:hover{
    color:#F8C471
}
#dropDownItemBack{
    height:300px;
    width: 220px;
    overflow: scroll;
    overflow-x:hidden;
}
