<!doctype html>
<html>
	<mat-toolbar>
		<a routerLink='' id='title'>{{title}}</a>

		<!-- This fills the remaining space of the current row -->
		<span class="example-fill-remaining-space"></span>

		<a id='about' routerLink='/about'>About</a>
		<a id='login' routerLink='/login'>Login</a>
		<a *ngIf='isShow' style='margin:0 15px 0 0;' title='{{user}}' (click)="navig()"><img id='userImg' src="{{userImg}}">{{user}}</a>

		<div *ngIf='isShow' ngbDropdown class="d-inline-block">
			<button class="btn-outline fa fa-bell" id='notif' ngbDropdownToggle><span style='font-size:10px;margin:0 0 0 -2px'> {{numPendings}}</span></button>
			<div id='dropDownItemBack' ngbDropdownMenu>
				<p style='padding:10px' *ngFor="let item of pendingNames;">
					<span>Friend Request from </span>
					<a (click)='toUserProfile(item)' id='friend'>{{item}} </a>
					<button class='btn-outline' (click)='addFriend(item)' id="acceptB">Accept</button></p>
			</div>
		</div>

		<div ngbDropdown class="d-inline-block">
			<button class="btn-outline" id='menu' ngbDropdownToggle>Menu</button>
			<div id='dropDownItemBack' ngbDropdownMenu>
				<button (click)="toPostsPg()" id='dropDownItem' ngbDropdownItem>Posts Feed</button>
				<button routerLink='/fandoms' id='dropDownItem' ngbDropdownItem>Fandoms</button>
				<!-- <button id='dropDownItem' ngbDropdownItem>Events</button>
				<button id='dropDownItem' ngbDropdownItem>Messaging</button> -->
			</div>
		</div>

	</mat-toolbar>

	<body>
		<router-outlet></router-outlet>
	</body>
</html>
