body{
    padding:2em 12% 3em 14%;
    /* background:#EAEDED; */
}

.fdBox {
    border-radius: 5px;
    width:190px;
    height:250px;
    margin: 15px;
    text-align: center;
    /* border: 1.1px solid #FAD7A0; */
    box-shadow: 0.8px 1px 2px #c9cccd;
    /* background:#FDEBD0; */
}

#image{
    width:100%;
    height:83%;
}

#box{
    width:100%;
    background:white;
    /* padding:20px 30px 30px 30px; */
}

#title{
    margin: 10px 0 10px 0;
    width:100%;
    border-width: 1.1px;
    border-color:#EAEDED;
    border-radius:4px;
    border-style:solid;
    background: #EAEDED;
    padding:10px;
}

#description{
    width:100%;
    height:120px;
    border-width: 1.1px;
    border-color:#EAEDED;
    border-radius:4px;
    border-style:solid;
    background: #EAEDED;
    margin:0 0 3px 0;
    padding:10px;
}

#submit{
    color:white;
    border-radius:4px;
    background:#48C9B0;
    border-color:#48C9B0;
    border-style:solid;
    width:40%;
    padding:5px;
}
#submit:hover{
    color:grey
}