<body>

    <div id='box'>
        <h4><b>Create a new Fandom</b></h4>

        <div>
        <div><input id='title' #title placeholder='Enter Fandom name'></div>
        <div><textarea id='description' #desc placeholder='Enter Fandom description'></textarea></div>
        <!-- no need for admin as admin is the loggedin user -->
        
        <button id='submit' (click)='createFandom(title.value,desc.value)'>submit</button>
        <div style='margin-top:10px;color:red'>{{message}}</div>
        </div>
    </div>

</body>
